/* Шапка */
header {
  color: white;
  text-align: center;
  background-color: #353535;
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0; /* Убрать пробел сверху */
  left: 0; /* Убрать пробел снизу */
}

/* Заголовок "Электронная очередь" */
.header-title {
  margin-bottom: 0; /* Поверить не могу, что сработало */
}

/* Плашка "Прием окончен/Ведется прием" */
.status-window {
  color: white;
  text-align: center;
  background-color: red;
  display: inline-block;
  position: center fixed;
  border-radius: 5px;
  padding: 15px;
}

/* Сами кнопки слева */
.left-sidebar {
  text-align: left;
  background-color: #858585;
  top: 130px;
  left: 0;
  height: 100%;
  width: 250px;
  display: inline-block;
  position: fixed;
}

/* Свойства кнопок слева */
.btn-group button {
  color: white;
  background-color: #04aa6d;
  border: 1px solid green;
  padding: 15px;
  width: 100%;
  display: block; /* Так кнопки будут располагаться сверху вниз */
  cursor: pointer; /* Курсор-рука при наведении */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Без двойных границ */
}

/* Окно | Здесь хочу сравнить удобство работы ручного назначения окон vs flex-контейнеров */
.service-window {
  text-align: center;
  font-weight: bold;
  background-color: #dedede;
  position: fixed;
  display: inline-block;
  border: 1px solid black;
  border-bottom: none;
  line-height: 25px;
}

/* Положение каждого окна в отдельности*/
#win1 {
  top: 375px;
  left: 270px;
  width: 100px;
  height: 25px;
}

#win2 {
  top: 375px;
  left: 400px;
  width: 100px;
  height: 25px;
}

#win3 {
  top: 375px;
  left: 530px;
  width: 100px;
  height: 25px;
}

#win4 {
  top: 450px;
  left: 270px;
  width: 100px;
  height: 25px;
}

#win5 {
  top: 450px;
  left: 400px;
  width: 100px;
  height: 25px;
}

#win6 {
  top: 450px;
  left: 530px;
  width: 100px;
  height: 25px;
}

/* Номера обслуживаемых в окнах талонов */
.service-window-no {
  text-align: center;
  font-weight: bold;
  background-color: #dedede;
  position: fixed;
  display: inline-block;
  border: 1px solid black;
  line-height: 25px;
}

#winN1 {
  top: 400px;
  left: 270px;
  width: 100px;
  height: 25px;
}

#winN2 {
  top: 400px;
  left: 400px;
  width: 100px;
  height: 25px;
}

#winN3 {
  top: 400px;
  left: 530px;
  width: 100px;
  height: 25px;
}

#winN4 {
  top: 475px;
  left: 270px;
  width: 100px;
  height: 25px;
}

#winN5 {
  top: 475px;
  left: 400px;
  width: 100px;
  height: 25px;
}

#winN6 {
  top: 475px;
  left: 530px;
  width: 100px;
  height: 25px;
}

/* Табло с активными номерами */
.all-tickets-screen {
  text-align: center;
  background-color: #dedede;
  position: fixed;
  display: inline-block;
  top: 150px;
  left: 270px;
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

/* Выравнивание номеров на табло */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Свойства флекс-контейнера */
.flex-container > div {
  background-color: none;
  width: 200px;
  height: 50px;
  margin: 0;
  border: none;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}

/* Анимация первого номера на табло */
#flex1 {
  animation-name: flex-n1;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

@keyframes flex-n1 {
  from {
    color: black;
  }

  to {
    color: red;
  }
}
